/*************************************
COLOURS
yellow: E2C077
red: #BC1B21
*************************************/


/*************************************
HEADER
*************************************/

header {
	padding: 20px 50px;
}

#logo {
	display: flex;
	height: 60px;
}


/*************************************
NAVIGATION
*************************************/

.navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items:baseline;
}


nav ul {
	display: flex;
	justify-content: space-around;
}


/* page links */
.main-nav {
	padding: 0px 0px 0px 20px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 1em;
}

a, a:visited {
	color: black;
}

a.selected, a:hover {
	color: #BC1B21;
}


/* sticky header 
    position:fixed;
    z-index: 100;
------------------*/


#top {
	margin: 0px auto;	
    list-style: none;
	font-size: .75em;
}



/*************************************
FOOTER
*************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top: 25px;
	color: #aaa;
}

.social-icon {
	height: 25px;
	margin: 5px;
	}

ul{
list-style: none;
}

.social-icon:hover {
	background-color: #E2C077;
	border-radius: 100%;
	width: 25px;
}


#social {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 50px;
}








/*************************************
GENERAL
*************************************/

.wrapper {
	display: flex;
	justify-content: center;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
}


/* links */
a {
	text-decoration: none;
}


/* images */
img {
	max-width: 100%;
}


/* album title */
p.title {
	font-family:'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
}

a a:focus {
   outline: none;
}

a:hover, a:active, a:visited {
color: black;
}



/* site body */

p {
	line-height: 1.25em
	font-weight: 300;

}

h1 {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding-top: 20px;
}

h2 {
	font-size: 1.25em;
	font-family: 'Lato', sans-serif;
}

#videos {
	display: flex;
	justify-content: center;
	margin: 20%;
}





/*************************************
SOUNDCLOUD
*************************************/

.soundcloud {
	display: flex;	
	flex-direction: column;
	justify-content: center;
	margin: 10%;

}


/*************************************
BANDCAMP
*************************************/

.bandcamp {
	margin-top: 10px;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	margin: 10%;
}	


.album {
	width: 27%;
}

 #gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 5%;
 }

 

/*************************************
PAGE ABOUT
*************************************/

.first-bio {
	font-size: 1.5em;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: 0px 40px;
}

#about {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

/*************************************
BANDCAMP
*************************************/

#videos {
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin: 20px;
	text-align: auto;
}
